.test-button {

	&--component {
		background-color: $color-guardsman-red;
		color: $color-white;
		display: block;
		font-family: $base-font-family;
		border: 0;
		padding: 0.5em 2.2222222222em;
		font-weight: 700;
		text-transform: uppercase;
		cursor: pointer;
		text-align: center;

		a {
			color: $color-white;
			text-decoration: none;
		}

		&:hover {
			background-color: darken($color-guardsman-red, 30%);
			transition: background-color 0.5s ease;
		}
	}
}